__pycache__/
*.pyc
*.pyo
*.egg-info/
*.egg
dist/
build/
*.spec
.pytest_cache/
*.log
results/
models/*.pt
.env
.DS_Store
Thumbs.db
logs/
*.spec
PoetryASR.spec
.claude/
*.bat
!启动.bat
!安装.bat
!cli.bat

data/train/data_thchs30.tgz
data/test/%(title)s.%(ext)s.mp3
